<%- include('header', title) %>
<p class="my-2" id="msg"><%= message %></p>
<table class="table">
    <thead>
        <tr>
            <th>id</th><th>name</th>
            <th>nickname</th><th>password</th>
            <th>update</th>
        </tr>
    </thead>
    <tbody>
        <% for (item of data) { %>
        <tr>
            <td><%=item.id%></td>
            <td><%=item.name%></td>
            <td><%=item.nickname%></td>
            <td><%=item.password%></td>
            <td><%=item.updateAt%></td>
        </tr>
        <% } %>
    </tbody>
</table>
<%- include('footer') %>