<%- include('header', title) %>

<div class="container text-center" >
    <p class="display-5 text-light mt-4"><%=msg%></p>
    <p><button class="btn btn-primary mt-5 fs-2" onclick="location.href='<%=path%>'"><%=btnmsg%></button></p>
</div>

<%- include('footer') %>